<app-header></app-header>
<div class="layout-main">
<app-left-sidebar></app-left-sidebar>
<div class="settingsPage"></div>
<div class="layout-content">
  <div class="layout-content-body">
    <div class="title-bar">
      <h1 class="title-bar-title">
        <span class="d-ib">Setting</span>
      </h1>
    </div>
    <div class="row gutter-xs">
        <div class="col-md-12">
          <div class="pcoded-content">
              <div class="pcoded-inner-content">
                <div class="main-body">
                  <div class="page-wrapper">
                    <div class="page-body">
                      <div class="card">
                        <div class="card-body">
                          <h5>
                          <button class="btn btn-primary icon icon-pencil p-1 fs-18 pull-right mb-2" data-target="#edit-modal" data-toggle="modal"></button>
                          About Us</h5>
                          <p class="padding-top-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap into 
                            electronic typesetting, remaining essentially unchanged. It was popularised in 
                            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                            and more recently with desktop publishing software like Aldus PageMaker including 
                            versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                      <!--  -->
                      <div class="card">
                        <div class="card-body">
                          <h5>
                          <button class="btn btn-primary icon icon-pencil p-1 fs-18 pull-right mb-2" data-target="#edit-modal-term" data-toggle="modal"></button>
                          Tearms & Conditions</h5>
                          <p class="padding-top-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap into 
                            electronic typesetting, remaining essentially unchanged. It was popularised in 
                            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                            and more recently with desktop publishing software like Aldus PageMaker including 
                            versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                      <!--  -->
                      <div class="card">
                        <div class="card-body">
                          <h5>
                          <button class="btn btn-primary icon icon-pencil p-1 fs-18 pull-right mb-2" data-target="#edit-modal-legal" data-toggle="modal"></button>
                          Legal</h5>
                          <p class="padding-top-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            when an unknown printer took a galley of type and scrambled it to make a type 
                            specimen book. It has survived not only five centuries, but also the leap into 
                            electronic typesetting, remaining essentially unchanged. It was popularised in 
                            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                            and more recently with desktop publishing software like Aldus PageMaker including 
                            versions of Lorem Ipsum.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
<app-footer></app-footer>
</div>

<!-- add promotion -->
<div id="edit-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form">
          <h5>About Us</h5>
          <textarea class="form-control" rows="4" placeholder="Write to About Us"></textarea>
          <div class="m-t-lg text-center">
            <button class="btn btn-danger" data-dismiss="modal" type="button">Save</button>
            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>      
</div>
<!-- success modal -->
<!-- add promotion -->
<div id="edit-modal-term" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form">
          <h5>Terms & Condition</h5>
          <textarea class="form-control" rows="4" placeholder="Write to Terms & Condition"></textarea>
          <div class="m-t-lg text-center">
            <button class="btn btn-danger" data-dismiss="modal" type="button">Save</button>
            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>      
</div>
<div id="edit-modal-legal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form">
          <h5>Legal</h5>
          <textarea class="form-control" rows="4" placeholder="Write to legal"></textarea>
          <div class="m-t-lg text-center">
            <button class="btn btn-danger" data-dismiss="modal" type="button">Save</button>
            <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>      
</div>
<!-- success modal -->
<div id="edit-sccess-modal" class="modal fade">
  <div class="modal-dialog modal-sm" data-dismiss="modal">
    <div class="modal-body text-center">
      <div class="row">
        <div class="col-md-12">
          <i class="text-success fs-34 d-inline-block icofont icofont-check-circled mb-4"></i>
          <h6>Saved Successfully</h6>
        </div>
      </div>
    </div>
  </div>
</div>
  