<app-header></app-header>
<div class="layout-main">
<app-left-sidebar></app-left-sidebar>
<div class="profilePage"></div>
    <div class="layout-content">
        <div class="layout-content-body">
            <div class="title-bar">
                <h1 class="title-bar-title">
                  <span class="d-ib">Change Password </span>
                  <a routerLink="/home/profile" class="h5 pull-right text-primary">Back to Profile</a>
                </h1>
            </div>
            <div class="col-md-6 col-lg-5 card">
                <div class="demo-form-wrapper card-body">
                    <form class="form">
                        <div class="form-group">
                            <label for="" class=" control-label">Old Password</label>
                            <input id="" class="form-control" type="password">
                        </div>
                        <div class="form-group">
                            <label for="" class=" control-label">New Password</label>
                            <input id="" class="form-control" type="password">
                        </div>
                        <div class="form-group">
                            <label for="" class=" control-label">Confirm Password</label>
                            <input id="" class="form-control" type="password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block " type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<app-footer></app-footer>
</div>